@import '../../styles/variables';

.ParasiticMediumModal {
  padding: 24px 46px 40px;
  width: 540px;
  background: var(--bg-color);
  border-radius: 12px;
  p {
    margin: 0;
  }
  .close-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  > h3 {
    font-size: 18px;
    font-weight: 400;
    color: var(--font-color);
    margin: 0;
    text-align: center;
  }
  .UploadRegin {
    margin-top: 24px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px dashed rgba(112, 112, 112, 1);
    border-radius: 8px;
    cursor: pointer;
    &.isDragOver {
      background: #e6f1ff;
      border-color: #3a95ff;
    }
    &-main {
      > svg {
        display: block;
        margin: 0 auto;
        &.filterGrey {
          filter: grayscale(100%);
        }
      }
      &__uploading {
        margin-top: 16px;

        .uploadProgress {
          margin: 16px 40px 0;
        }
        > p {
          text-align: center;
          color: #707070;
        }
      }
      &__views {
        margin: 8px 40px 0;
        text-align: center;
        font-size: 14px;
        > p {
          margin: 0;
          color: #707070;
          .blue {
            color: #3184ee;
            margin-left: 6px;
          }
        }

        .tip {
          margin-top: 8px;
          color: #b7b7b7;
        }
      }
    }
  }

  .UploadImageStatus {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 16px;
    height: 16px;
    .uploadFileName {
      max-width: 240px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .failed {
      color: #ff3311;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .ParasiticMediumModal {
    .UploadRegin {
      border: 1px dashed $dark-border-color;
      &.isDragOver {
        background: $dark-hover-bg-color;
      }
    }
  }
}
