@import '../../styles/variables';
@import '../../styles/icon';
@import '../../styles/breakpoints';
@import '../AppHeader/variables';

.App {
  min-height: calc(100vh + 20px);

  &__container {
    position: relative;
  }

  .ProjectNodeList__RootWrapper {
    max-width: 820px;
    margin: 0 auto;
    padding: 115px 60px 75px 60px;

    @include breakpoint-lte($breakpoint-xs) {
      padding-left: 14px;
      padding-right: 14px;
    }
  }

  .ProjectNodeList__RootWrapper-mobile {
    width: 100%;
    margin: 0 auto;
    padding: 88px 16px 16px 16px;

    @include breakpoint-lte($breakpoint-xs) {
      padding-left: 14px;
      padding-right: 14px;
    }
  }

  &__append-node {
    margin: 0 25px;
  }

  &__page-node-content {
    padding: 0 0 0 26px;
    margin: 0 0 20px 0;

    .ProjectNodeContentView__content {
      font-size: 26px;
      font-weight: bold;
      line-height: 36px;
    }
  }

  &__append-node {
    cursor: pointer;

    .icon-append-node {
      width: 10px;
      height: 10px;
      stroke: rgb(102, 102, 102);
      stroke-width: 2px;
    }
  }

  .ShortcutPanel {
    top: 88px;
  }
}
