@import '../../styles/variables';
@import '../../styles/platforms';
@import '../ProjectNodeContentView/style';

$CollapseIndicator-color: rgb(220, 224, 226);
$CollapseIndicator-hover-color: rgb(75, 81, 85);
.CollapseIndicator {
  transition: transform 200ms ease 0s;

  &--expaneded {
    transform: rotateZ(90deg);
  }

  svg {
    display: block;
    fill: $CollapseIndicator-color;
  }
  &:hover svg {
    fill: $CollapseIndicator-hover-color;
  }
}

$ProjectNodePopoverMenu-size: 24px;
.ProjectNodePopoverMenu {
  $ProjectNodePopoverMenu-color: $CollapseIndicator-color;
  $ProjectNodePopoverMenu-active-hover-color: rgb(16, 127, 252);
  $ProjectNodePopoverMenu-active-hover-bg-color: #ffffff;

  &__trigger {
    > svg {
      display: block;
      width: $ProjectNodePopoverMenu-size;
      height: $ProjectNodePopoverMenu-size;
      fill: $ProjectNodePopoverMenu-color;
      border-radius: 12px;
    }

    &:hover > svg {
      background: $ProjectNodePopoverMenu-active-hover-bg-color;
      fill: $ProjectNodePopoverMenu-active-hover-color;
    }

    &.active > svg {
      background: $ProjectNodePopoverMenu-active-hover-bg-color;
      fill: $ProjectNodePopoverMenu-active-hover-color;
    }

    @media (prefers-color-scheme: dark) {
      &:hover > svg,
      &.active > svg {
        background: $dark-hover-bg-color;
      }
    }
  }

  &__popover {
    display: block;
    z-index: 1;
  }
}

$ProjectNode-editing-background-color: rgba(239, 239, 239, 0.5);
$ProjectNode-editing-border-radius: 5px;
$ProjectNode__item-padding-left: 0px;
.ProjectNode {
  $bullet-dot-width: 8px;
  $bullet-width: 20px;
  $bullet-border-radius: 100px;
  $ProjectNodeContentView-vertical-padding: 2px;
  $ProjectNodeContentView-completed-color: rgb(153, 153, 153);

  margin-left: 0 - $ProjectNodePopoverMenu-size;
  padding-left: $ProjectNodePopoverMenu-size;

  &__item {
    position: relative;
    margin-left: 0 - $ProjectNode__item-padding-left;
    padding-left: $ProjectNode__item-padding-left;
  }

  &__fence {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #eee;

    &.withImage {
      height: calc(100% + 4px);
    }
  }

  /** 操作按钮相关 */

  @function action-bar-top($icon-size) {
    @return ((($font-size * $line-height) - $icon-size) / 2) +
      $ProjectNodeContentView-vertical-padding;
  }

  .ProjectNodePopoverMenu__trigger,
  .CollapseIndicator,
  &__bullet-trigger {
    position: absolute;
    z-index: 1;
    cursor: pointer;
  }

  .ProjectNodePopoverMenu__trigger {
    display: none;
    top: action-bar-top($ProjectNodePopoverMenu-size);
    left: $ProjectNode__item-padding-left - $ProjectNodePopoverMenu-size - 2px;
  }
  &--menu-visible > &__item > .ProjectNodePopoverMenu__trigger,
  &:hover > &__item > .ProjectNodePopoverMenu__trigger {
    display: block;
  }

  .CollapseIndicator {
    top: action-bar-top(20px);
    left: $ProjectNode__item-padding-left - 2px;
  }
  &__item:hover > .CollapseIndicator svg {
    fill: $CollapseIndicator-hover-color;
  }
  @include platform-mobile() {
    &--has-child:not(.ProjectNode--selected)
      > .ProjectNode__item
      .CollapseIndicator {
      display: block;
    }
  }
  @include platform-desktop() {
    &--has-child:not(.ProjectNode--selected)
      > .ProjectNode__item:hover
      .CollapseIndicator {
      display: block;
    }
  }

  &__bullet-trigger {
    top: action-bar-top(20px);
    left: $ProjectNode__item-padding-left + 20px;
    border-radius: $bullet-border-radius;
  }
  &--has-child:not(&--expanded) &__bullet {
    background: rgba(162, 199, 252, 0.32);

    &::before {
      background: #62a6ff;
    }
  }

  /** bullet 本体相关 */

  &__bullet {
    display: block;
    padding: ($bullet-width - $bullet-dot-width) / 2;
    border-radius: $bullet-border-radius;
    cursor: pointer;

    &::before {
      display: block;
      content: ' ';
      width: $bullet-dot-width;
      height: $bullet-dot-width;
      border-radius: 100px;
      background: #777;
    }

    &.hover {
      background: rgba(0, 0, 0, 0.3);
    }
  }
  @include platform-desktop() {
    &--has-child:not(.ProjectNode--expanded) .ProjectNode__bullet:hover {
      background: rgba(162, 199, 252, 1);
    }
    &__bullet:hover {
      background: rgba(0, 0, 0, 0.3);
    }
  }

  /** ProjectNodeContentView 相关 */

  &--selected .ProjectNodeContentView {
    background: rgba(168, 209, 255, 0.5);

    .windowBlurred & {
      background: rgba(200, 200, 200, 0.5);
    }
  }

  &--completed .ProjectNodeContentView {
    color: $ProjectNodeContentView-completed-color;
    text-decoration: line-through;
  }

  &--menu-visible .ProjectNodeContentView,
  .ProjectNodeContentView:focus-within {
    @media (prefers-color-scheme: dark) {
      & {
        background: rgba(239, 239, 239, 0.16);
      }
    }
    background: $ProjectNode-editing-background-color;
    border-radius: $ProjectNode-editing-border-radius;
  }

  /**
   * 有这么一个界面
   *
   * *  xxxxxx
   * |    *  xxxxx
   * |    |    *  xxxx
   * |    |    *  xxxx
   * |    *  xxxxx
   *
   * 每个条目可以被选中，希望选中时的效果是这样子的（;是选中时的背景色）
   *
   * *  xxxxxx
   * |  ;;*;;xxxxx
   * |  ;;|;;;;*;;xxxx
   * |  ;;|;;;;*;;xxxx
   * |  ;;*;;xxxxx
   *
   * 然后 * 是绝对定位的，因此需要 margin-left 是 padding-left 的二分之一
   */

  // 这个 distance 指的是子节点的线和父节点的线之间的距离
  $node-border-distance: 30px;
  $node-border: 1px solid #eee;

  &__item .ProjectNodeContentView {
    $margin: $node-border-distance / 2;

    // 因为激活的节点是有背景色的，然后在移动平台上节点距离屏幕边界又特别近，
    // 很容易发现背景色划出来的块和屏幕两边的距离不一致，所以一旦加 margin
    // 两边都要加
    margin: 0 $margin;
    padding: $ProjectNodeContentView-vertical-padding
      ($node-border-distance - $margin) $ProjectNodeContentView-vertical-padding
      $node-border-distance;
  }

  /**
   * 图片列表是这样的样式
   *
   * *  xxxxxx
   * |    *  xxxxx
   * |    |    *  xxxx
   * |    |    |  ###  <-- 这两行 # 是一张图
   * |    |    |  ###
   * |    |    *  xxxx
   * |    *  xxxxx
   *
   * 所以我们需要在图片的左侧再画一条线
   */
  &__item .ProjectNodeImageList {
    margin-left: $node-border-distance;
    padding-left: $node-border-distance / 2;
    border-left: $node-border;
  }

  /** 子节点列表相关 */
  .ProjectNodeList {
    border-left: $node-border;
  }
}

::selection,
.ProjectNode .ProjectNodeContentView .selection {
  display: inline;
  padding: 0;
  background: #b7d6fd;
}
