@import '../../styles/variables';

.export-panel-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background: rgba(0, 0, 0, 0.2);
}

.export-panel {
  box-sizing: border-box;
  position: fixed;
  top: calc(50vh - 180px);
  left: calc(50vw - 275px);
  width: 550px;
  height: 240px;
  background: var(--bg-color);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
  border: 1px solid var(--border-color);
  border-radius: 16px;
  cursor: default;
}

.export-panel-header {
  width: 100%;
  height: 48px;
  background: inherit;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.export-panel-header-title {
  margin-left: 24px;
  font-weight: 500;
  font-size: 16px;
  color: var(--font-color);
}

.export-panel-header-close {
  cursor: pointer;
  margin-right: 16px;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: var(--hover-bg-color);
  }
}

.export-panel-header-close > svg {
  width: 20px !important;
  height: 20px !important;
  fill: var(--font-color) !important;
  stroke-width: 1px !important;
  stroke: none !important;
}

.export-panel-body {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom: 1px solid var(--divider-color);
}

.export-panel-select-container {
  position: absolute;
  left: calc(50% - 145px);
  width: 290px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > .label {
    color: var(--font-color);
  }
}

.export-button-confirm {
  cursor: pointer;
  position: absolute;
  right: 24px;
  bottom: 24px;
  width: 80px;
  height: 32px;
  background: #5C83FF;
  border-radius: 8px 8px 8px 8px;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.export-button-cancel {
  cursor: pointer;
  position: absolute;
  right: 120px;
  bottom: 24px;
  width: 80px;
  height: 32px;
  background: var(--bg-color);
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #DCDEE2;
  font-weight: 400;
  font-size: 14px;
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (prefers-color-scheme: dark) {
    border-color: $dark-border-color;
  }
}
