/**
 * 涉及变量：
 *
 * * `--action-bar-width`：右侧操作栏的宽度
 */

@import '../../styles/variables';
@import '../../styles/icon';
@import '../../styles/breakpoints';
@import '../../styles/platforms';
@import './variables';
@import '../../styles/variables';

.AppHeader-background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 72px;
  background-color: var(--bg-color);
  z-index: 3;
}

.AppHeader {
  box-sizing: border-box;
  padding: 0 12px;
  position: fixed;
  top: 16px;
  right: 16px;
  height: 56px;
  z-index: 3; // 要比 ProjectNode__bullet-trigger 和 ProjectNodePopoverMenu__popover 还有 ShortcutPanel 高
  display: flex;
  margin: 0;
  box-shadow: var(--box-shadow);
  border-radius: 12px 12px 12px 12px;
  opacity: 1;
  border: 1px solid var(--border-color);
  background: inherit;
  color: var(--font-color);
  line-height: $topbar-line-height;
  font-size: $topbar-font-size;
  display: flex;
  align-items: center;

  svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    stroke: none;
    fill: currentColor;
  }

  .icon-home {
    stroke: currentColor;
  }

  .icon-save-loading {
    @extend .icon-spin;
  }

  .readonly {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 70px;
    max-width: calc(100vw - 592px);
    height: 36px;
    padding: 0 19px;
    background: #FFF4E8;
    border: 1px solid #FAB458;
    box-shadow: 0px 4px 10px 0px rgba(250, 180, 88, 0.12);
    border-radius: 8px;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #515A6E;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  @media (max-width: 750px) {
    .readonly {
      display: none !important;
    }
  }

  .close-readonly-message-btn {
    cursor: pointer;
    margin-left: 24px;
    background: transparent;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    button {
      display: flex;
      align-items: center;
      padding: $topbar-vertical-padding / 2;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: $topbar-color;
      cursor: pointer;
      background: transparent;

      @include platform-desktop() {
        &.notice {
          position: relative;

          &::after {
            display: block;
            content: ' ';
            position: absolute;
            top: 5px;
            right: 2px;
            width: 6px;
            height: 6px;
            border-radius: 50px;
            background: rgba(224, 1, 1, 0.56);
          }
        }
      }

      &.with-text {
        &::after {
          top: 4px;
          right: 1px;
        }

        svg {
          margin-right: 5px;
        }
      }

      &[disabled] {
        cursor: default;
        opacity: 0.5;
      }
    }

    @include breakpoint-lte($breakpoint-mobile-l) {
      padding-left: 5px;
      padding-right: 5px;

      > button {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 0;

        svg {
          margin-right: 0;
        }
      }
    }
  }

  .close-readonly-message-btn:hover {
    background: rgb(252, 229, 201);
  }

  .divider {
    margin: 8px;
    width: 1px;
    height: 24px;
    background: var(--divider-color);
    border-radius: 1px 1px 1px 1px;
    opacity: 1;
  }

  .iconContainer {
    flex: 0 0 auto;
    cursor: pointer;
    margin: 4px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    svg {
      width: 20px;
      height: 20px;
      stroke: none;
      fill: currentColor;
    }
  }

  .iconContainer:hover {
    background-color: var(--hover-bg-color);
  }

  .selected {
    background-color: var(--hover-bg-color);
  }

  .button {
    flex: 0 0 auto;
    cursor: pointer;
    margin: 0 4px;
    padding: 6px 12px;
    box-sizing: border-box;
    height: 32px;
    background: #107ffc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;

    .text {
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
    }
  }
}

.AppHeader_popover {
  display: block !important;
}

.is-demo-style {
  justify-content: flex-end;
  padding: 7.5px 0;
}

.ExportPPTloading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .loading-card {
    background: var(--bg-color);
    box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 24px 48px 40px;
  }

  .loading-img {
    width: 160px;
    height: 160px;
  }

  .loading-text {
    margin: 0;
    font-size: 14px;
    font-family: SourceHanSansCN-Regular, SourceHanSansCN;
    font-weight: 400;
    color: var(--font-color);
    line-height: 21px;
  }
}

