$topbar-vertical-padding: 10px;
$topbar-color: rgb(140, 140, 140);
$topbar-font-size: $font-size-small;
$topbar-line-height: 28px;
$topbar-height: ($topbar-vertical-padding * 2 + $topbar-line-height);
