@import '../../styles/variables';

.ProseMirrorLinkEditor {
  position: absolute;
  z-index: 2 /* 要盖住其他节点的操作圆点 */;

  padding: 8px;
  width: 320px;
  background: var(--bg-color);
  box-shadow: 0px 2px 10px 0px rgba(38, 44, 64, 0.1);
  border-radius: 4px;
  border: 1px solid var(--border-color);

  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  color: var(--font-color);

  &__inputs {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__input {
    display: flex;
    align-items: center;
    height: 30px;

    &-label {
      width: 30px;
    }

    input {
      flex: 1;
      border: none;
      outline: none;
      color: var(--font-color);
      background-color: var(--bg-color);
      height: 100%;
    }
  }

  &__operations {
    display: flex;
  }

  &__operation {
    display: none;
    border-radius: 4px;
    padding: 6px;
    width: 32px;
    height: 32px;

    svg {
      width: 20px;
      height: 20px;
      fill: #515a6e;
    }

    &.show {
      display: block;
    }

    &:hover {
      background: var(--hover-bg-color);
      cursor: pointer;
    }
  }
}
