@import '../../styles/variables';

.ProseMirrorMenuBar {
  position: absolute;
  z-index: 2 /* 要盖住其他节点的操作圆点 */;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--bg-color);
  border-radius: 5px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    transform: translate(16px, -100%);
    // 角标主体交界可能出现视觉上的黑线， 所以向下偏移1px使其重叠
    margin-top: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent var(--bg-color) transparent;
  }

  &__Header {
    margin: 0;
    padding: 12px;
    white-space: nowrap;
  }

  &__Body {
    padding: 12px 8px;
    border-top: 1px solid var(--border-color);
  }
}

.ProseMirrorMenuBar__Item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: transparent no-repeat center center / 25px 25px;

  &--bold {
    background-image: url(./icon_bold.svg);
  }

  &--italic {
    background-image: url(./icon_italic.svg);
  }

  &--underline {
    background-image: url(./icon_underline.svg);
  }

  &--strikethrough {
    background-image: url(./icon_strikethrough.svg);
  }

  &--color {
    background-image: url(./icon_color.svg);
  }

  &--link {
    background-image: url(./icon_link.svg);
  }

  &--removeFormatting {
    background-image: url(./icon_remove_formatting.svg);
  }

  &.active,
  &:hover {
    background-color: var(--hover-bg-color);
  }

  &.disabled {
    cursor: not-allowed;

    &:hover {
      background-color: none;
    }
  }

  &--divider {
    margin: 0 8px;
    width: 1px;
    cursor: default;
    background: var(--divider-color);
  }
  &:hover {
    .ProseMirrorMenuBar__ItemTooltip {
      display: block;
    }
  }
}

.ProseMirrorMenuBar__ItemTooltip {
  display: none;
  position: absolute;
  left: 0;
  bottom: -10px;
  margin-left: 50%;
  padding: 4px 8px;
  transform: translateX(-50%) translateY(100%);
  font-size: 12px;
  font-weight: normal;
  border-radius: 5px;
  background: #8d99a6;
  color: #fff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.16);
  text-transform: capitalize;
  &::before {
    content: '';
    display: block;
    position: absolute;
    transform: translate(-50%, -100%);
    top: 0;
    left: 50%;
    // 角标主体交界可能出现视觉上的黑线， 所以向下偏移1px使其重叠
    margin-top: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent #8d99a6 transparent;
  }
}
.ProseMirrorMenuBar {
  &__Body--color {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
  }

  &__ColorRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__Clear {
      overflow: hidden;
      background: #fff;

      &::before {
        display: block;
        content: '';
        width: 1px;
        height: 37px;
        transform: translate(12px, -9px) rotate(45deg);
        background: red;
      }
    }

    &:last-child {
      span {
        border-color: transparent;
      }
    }

    span {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      border: 1px solid #f2f0f4;
      font-size: 22px;
      line-height: 22px;
      text-align: center;
      cursor: pointer;

      &:hover {
        border-color: rgba(16, 127, 252, 0.24);
      }

      &:active {
        border-color: #107ffc;
      }
    }
  }
}

.ProseMirrorMenuBar {
  &__LinkInput {
    padding: 0;
    width: 100%;
    line-height: 33px;
    text-indent: 10px;
    color: #6f6f6f;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;

    &:focus {
      outline: 0;
      border-color: #47a4f5;
    }
  }
}
