@import '../../styles/variables';

.ProjectNodeContentView {
  position: relative;
  word-wrap: break-word;
  white-space: pre-wrap;
  cursor: text;
  font-size: $font-size;
  line-height: $line-height;
  outline: none;

  p {
    margin: 0;
    padding: 0;

    &::selection {
      background-color: rgba(54, 116, 255, 0.16);
    }
  }

  span::selection {
    background-color: rgba(54, 116, 255, 0.16);
  }

  a {
    color: rgb(134, 140, 144);
    cursor: pointer;
    opacity: 0.8;
  }

  [contenteditable] {
    outline: 0;
  }

  &__LinkTooptip {
    position: fixed;
    z-index: 1;
    padding: 2px 5px;
    font-size: 12px;
    background-color: var(--bg-color);
    color: var(--font-color);
    border: 1px solid rgba(111, 111, 111, 0.35);
    word-wrap: break-word;
    text-transform: capitalize;
    transform: translateY(calc(0px - (100% + 5px)));
    will-change: top, left;
  }
}

.IsPlaying {
  background: #e6f2ff;
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  $selection-bg-color: rgba(93, 144, 255, 0.2);
  .ProjectNodeContentView {
    &__content {
      color: #fff;
      &::selection {
        background-color: $selection-bg-color;
      }
    }
    
    p {
      color: #fff;
      &::selection {
        background-color: $selection-bg-color;
      }
    }

    span::selection {
      background-color: $selection-bg-color;
    }

    a {
      color: #3091ff !important;
    }
  }
}
