.img-viewer {
  $p: &;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  &-container {
    flex: 1;
    z-index: 2;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
      opacity: 0;
      transition: all ease-in-out 0s;
      object-fit: cover;
      user-select: none;
      -webkit-user-select: none;
      cursor: grab;
    }
  }

  &-mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transition: opacity ease-in-out 0.3s;
    z-index: 1;
  }

  &.show {
    opacity: 1;
    pointer-events: auto;

    #{$p}-mask {
      opacity: 1;
      transition-duration: 0.3s;
    }
  }

  &.hide {
    opacity: 0;
    pointer-events: none;

    #{$p}-mask {
      opacity: 0;
      transition-duration: 0s;
    }
  }

  .close, .prev, .next {
    width: 56px;
    height: 56px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;

    svg {
      width: 56px;
      height: 56px;
    }

    &.visible {
      visibility: visible;
    }
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    visibility: visible !important;
  }

  .prev {
    margin-left: 23px;
  }

  .next {
    margin-right: 23px;
  }

  .scale {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 204px;
    height: 56px;
    background: #1e1e1e;
    border-radius: 8px;

    .zoom-in, .zoom-out, .reset {
      width: 24px;
      height: 24px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
